/*
This is a copy of a file managed by the Web Team, not part of our code.
It's only for dev and sre and is not to be included in a real deployment.
*/
/* Handy links */
#handy {
	/*background:#fff url("http://www.workandincome.govt.nz/webadmin/images/handy-bg.jpg) no-repeat bottom left;*/
	float: left;
	border: none;
	/*margin:10px 0 0 40px;*/
	padding: 0;
	width: 162px;
	text-align: left;
	background-color: transparent;
}

#handy p {
	margin: 4px 0;
	padding: 0;
}

#handy #sidebarlinks {
	float: left;
	margin: 0;
	padding: 8px 0 8px 0;
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/bg-sidebar-handy-links.jpg");
	background-repeat: repeat-y;
	background-position: right;
	border-left: 1px solid #E88E90;
	border-bottom: 1px solid #E88E90;
}

#handy #sidebarlinks {
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}

#sidebar #sidebarlinks {
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}

#handy #sidebarlinks  .block {
	margin: 0;
	padding: 0 16px 0 8px;
	width: 136px;
	border: none;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	color: #003366;
}

/* sidebar */
#sidebar {
	float: right;
	border: none;
	/*margin:111px 100px 0 0;*/
	padding: 0;
	width: 162px;
	text-align: left;
	background-color: transparent;
}

#sidebar p {
	margin: 4px 0;
	padding: 0;
}

#sidebar #sidebarlinks {
	float: right;
	margin: 0;
	padding: 8px 0 8px 0;
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/bg-sidebar-links.jpg");
	background-repeat: repeat-y;
	background-position: left;
	border-bottom: 1px solid #E88E90;
	border-right: 1px solid #E88E90;
}

#sidebar #sidebarlinks .block {
	margin: 0;
	padding: 0 11px 0 14px;
	width: 136px;
	border: none;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	color: #003366;
}

#sidebar #sidebarlinks .block .topBottomFloat {
	margin: 0;
	padding: 0 0 10px 0;
	border: none;
	background-color: transparent;
	text-align: left;
}

#sidebar #sidebarlinks .block h2,#handy #sidebarlinks .block h2 {
	margin: 0;
	padding: 2px 0 8px 0;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	color: #000000;
}

.links {
	padding: 0 0 0 24px;
	margin: 4px 0 4px 5px;
	border: none;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-position: top left;
	min-height: 20px;
	width: 130px;
}

.links a {
	padding: 0;
	margin: 0;
	position: relative;
	border: none;
	color: #000;
	font-weight: normal;
	text-decoration: underline;
}

.links a span,#sidebarlinks li a span {
	color: #333;
	font-size: 80%;
}

.links a:hover {
	color: #000;
	text-decoration: none;
}

#sidebar #sidebarlinks .links,#handy #sidebarlinks .links {
	border: none;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-position: top left;
	min-height: 20px;
	font-size: 75%;
	width: auto;
}

#sidebar #sidebarlinks .default,#handy #sidebarlinks .default {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/right.gif")
		no-repeat scroll transparent left top;
	margin-left: 11px;
	padding-bottom: 0;
	padding-left: 18px;
}

.word {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/word.gif")
		no-repeat scroll transparent left top;
}

.rtf {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/rtf.gif")
		no-repeat scroll transparent left top;
}

.pdf {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/pdf.gif")
		no-repeat scroll transparent left top;
}

.powerpoint {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/powerpoint.gif")
		no-repeat scroll transparent left top;
}

.excel {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/excel.gif")
		no-repeat scroll transparent left top;
}

.project {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/project.gif")
		no-repeat scroll transparent left top;
}

.text {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/text.gif")
		no-repeat scroll transparent left top;
}

.image {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/image.gif")
		no-repeat scroll transparent left top;
}

.zip {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/zip.gif")
		no-repeat scroll transparent left top;
}

.mpeg {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/mpeg.gif")
		no-repeat scroll transparent left top;
}

.flashvideo {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/flashvideo.gif")
		no-repeat scroll transparent left top;
}

.flash {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/flash.gif")
		no-repeat scroll transparent left top;
}

.email {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/email.gif")
		no-repeat scroll transparent left top;
}

.website {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/website.gif")
		no-repeat scroll transparent left top;
}

.newsroom {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/newsroom.gif")
		no-repeat scroll transparent left top;
}

.whatshappening {
	background:
		url("http://www.workandincome.govt.nz/webadmin/images/whats-happening.gif")
		no-repeat scroll transparent left top;
}

#sidebar .topBottomFloat {
	margin: 4px 0;
	padding: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

#sidebar .topBottomFloat div a:hover,#sidebar .topBottomFloat div a:active
	{
	border: none;
	cursor: pointer;
	border: none;
}