/* CSS fixes for IE */


@media print {
    /* Fixed positioning make IE do awful things when printing. Work around this. */
    header {
        position: relative !important;
    }
    #outer {
        padding-top: 0 !important;
    }
}



#headerInner {
    /* Allow for IE not doign box-shadow below the progress bar */
    padding-bottom: 0.7em;
}


.helpButton{
	/*IE doesn't inherit this colour properly*/
	color: #444444;
    font-weight: 500;
}

#leftSidebar,
#rightSidebar {
    top: 95px;
}

#sidebar {
	margin-left:-3px;
}
