/* sidebar */
#sidebar {
float:right;
border:none;
margin:0;
padding:0;
width:162px;
text-align:left;
background-color:transparent;
}

#sidebar #firstad{
float:right;
margin:0;
padding:0;
width:162px;
height:65px;
background:url(http://www.workandincome.govt.nz/webadmin/images/bg-sidebar-top.gif) no-repeat top right;
}

#sidebar #firstad a, 
#sidebar #firstad a:visited{
float:right;
display:block;
margin:0;
padding:0 62px 0 0;
width:100px;
height:49px;
background-image:url(http://www.workandincome.govt.nz/webadmin/images/go-button-top.gif);
background-repeat:no-repeat;
background-position:86% 60%;
font-family:Arial, Helvetica, sans-serif;
font-size:120%;
line-height:90%;
font-weight:bold;
text-decoration:none;
text-align:right;
color:#036;
}

html > body #sidebar #firstad a, 
html > body #sidebar #firstad a:visited{
height:65px;
}

#sidebar #firstad a:active, 
#sidebar #firstad a:hover {
color:#ce3436;
}

#sidebar #firstad a img{
margin:15px 0 0 0;
padding:0 0 0 0;
}

#sidebar #language {
float:right;
margin:0;
padding:0;
width:162px;
height:66px;
background:url(http://www.workandincome.govt.nz/webadmin/images/bg-sidebar-bottom.gif) no-repeat bottom right;
background-color:#ce3436;
}

#sidebar #language a, 
#sidebar #language a:visited {
display:block;
margin:0;
padding:10px 0 0 0;
width:162px;
height:56px;
background:transparent;
font-family:Arial, Helvetica, sans-serif;
font-size:115%;
font-weight:bold;
text-align:center;
color:#FFFFFF;
}

#sidebar #language a:active, 
#sidebar #language a:hover {
color:#003366;
}

#sidebar #sidebarlinks {
float:right;
margin:0;
padding:8px 0 0 0;
background:url(http://www.workandincome.govt.nz/webadmin/images/bg-sidebar-links.jpg);
background-repeat:repeat-y;
background-position: left;
}

#sidebar .block {
margin:0;
padding:0 12px 0 14px;
width:136px;
border:none;
background-color:transparent;
font-family:Arial, Helvetica, sans-serif;
color:#003366;
}

#sidebar .block .topBottomFloat{
margin:0;
padding:0 0 10px 0;
border:none;
background-color:transparent;
text-align:left;
}

#sidebar .block h2 {
margin:0;
padding:2px 0 8px 0;
border:none;
font-family:Arial, Helvetica, sans-serif;
font-size:75%;
font-weight:bold;
color:#000000;
}

#sidebar .block ul {
margin:0;
border:none;
padding:8px 0 4px 0;
list-style:none;
}

#sidebar .block ul {
font-size:75%;
}

#sidebar .block li { 
padding:0 0 0 24px; 
margin:4px 0 4px 5px; 
background:url(http://www.workandincome.govt.nz/webadmin/images/bg-menu-bullet.gif) no-repeat left top; 
} 

#sidebar .block li a {
color:#003366;
text-decoration:underline;
}

#sidebar .block li a:hover, 
#sidebar .block li a:active {
color:#CE3436;
}

#sidebar .block hr { 
padding:0 0 0 0; 
margin:0 0 0 0; 
height:1px;
border:solid 1px #f3beb8;
background-color:#f3beb8; 
} 

html > body #sidebar .block hr { 
margin:0 0 8px 0; 
border:none; 
}