<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%t] %-5p %c %x- %m%n" />
		</layout>
	</appender>
    
    <!-- We can safely abbreviate the app's class names to be unqualified, which makes things easier to read -->
	<appender name="console-app" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%t] %-5p %c{1} %x- %m%n" />
		</layout>
	</appender>
    
    <logger name="nz.govt.msd.pst" additivity="false">
        <level value="debug" />
        <appender-ref ref="console-app" />
    </logger>
    
    <!--
    <logger name="org.springframework" additivity="false">
        <level value="debug" />
        <appender-ref ref="console-app" />
    </logger>
    -->
   
    <root>
        <priority value="warn" />
        <appender-ref ref="console" />
    </root>

</log4j:configuration>