html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: #666666;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #f0f0f0;
}

#headerInner, #buffer, #outer {
    width: 44em;
}
header img, #headerInner, #buffer, #outer {
    margin-left: -23em;
}
#progress, #progressLabel, form {
    width: 36em;
}
form, #progressLabel, #progress {
    margin-left: 4em !important;
}




header {
    position: fixed;
    top: 0;
    left: 0;
    height: 176px;
    width: 100%;
    background-image: url("images/bg-page-gradient2.jpg");
    z-index: 10;
    /*box-shadow: 0 0 1em #d0d0d0;*/

    /* Make fixed positioning work in IE6: */
    _position: absolute;
    _top: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');

}
header img {
    position: relative;
    left: 50%;
}
#headerInner {
    position: relative;
    left: 50%;
    background-color: white;
    padding: 1em 1em 0.7em 1em;
    /*box-shadow: 0 0 1em #d0d0d0;*/
}

.noscript {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #303030;
}
.noscriptInner {
    background-color: #f0f0f0;
    width: 34em;
    padding: 2em;
    margin-left: -19em;
    margin-top: 5em;
    left: 50%;
    position: relative;
}
.noscript, .noscript a {
    color: #303030;
}
.noscript h2 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 1em;
}


h1 {
    color: #CE3436;
    text-shadow: 0 1px 0 #ffcccc;
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 0.5em 0;
    padding: 0;
    text-align: center;
}

#progressLabel {
    position: absolute;
    display: block;
    text-align: center;
    color: #404040;
    font-size: 14px;
    font-weight: 600;
    margin: 3px 0 0 0;
}

#progress {
    height: 1.3em;
    border-radius: 7px;
    border: 1px solid #a0a0a0;
}
.ui-widget-header {
    border-radius: 5px;
    height: 1.3em;
    background-image: none !important;
    background-color: #80c080 !important;
}

#buffer {
    position: relative;
    left: 50%;
    height: 40px;
    padding: 0 1em 0 1em;
    background: -moz-linear-gradient(to bottom, rgba(255,255,255,255), rgba(255,255,255,0));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,255)), to(rgba(255,255,255,0)));

    /* hide in IE6 */
    _display: none;
}

#outer {
    left: 50%;
    padding: 200px 1em 200px 1em;
    position: relative;
    background-color: white;
    min-height: 50em;
    box-shadow: 0 0 1em #d0d0d0;
    z-index: 1;
}

#blurb {
    font-size: 14px;
    margin: 0 7em 0 6em;
}

form p, form ul {
    margin-bottom: 0.7em;
}
.question {
    background-color: #eeeeee;
    padding: 0.8em 1em 0.9em 1em;
    border: 1px solid #d0d0d0;
    border-bottom-width: 0;
    color: #888888;
}

.question h3 {
    font-weight: bold;
    margin-bottom: 1em;
}

.current .question {
    background-color: #ffffee;
    color: #444444;
    font-weight: 500;
    border-color: #a0a0a0;
}

.current {
    border-bottom: 1px solid #a0a0a0;
}

label {
    padding-right: 0.7em;
}

label.error {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 0.8em;
}

.question a {
    color: inherit;
}

button {
}

input.number {
    width: 4em;
}

input.text {
    width: 33em;
    margin-top: 0.5em;
}

input, select {
    margin-top: 0.8em;
}

input[disabled='disabled'], select[disabled='disabled'] {
    color: #808080;
    border: 1px solid transparent;
    background-color: transparent;
    font-weight: 600;
}

input[type='radio'] {
    margin-left: 1em;
    margin-right: 0.1em;
}
input[type='checkbox'] {
    margin-left: 1em;
    margin-right: 0.3em;
}

.info {
    padding: 1em 0 0 5em;
    font-size: 13px;
}
.help {
    padding: 0.5em 0 0 5em;
    font-size: 13px;
}
ul {
    padding-left: 2em;
}
li {
    list-style: disc;
}

.incomeSources {
    font-size: 90%;
}
.incomeSources .info {
    padding: 0;
    margin: 0 0 1em 0;
}
.incomeSources .help {
    margin-bottom: 1em;
}
.incomeSource {
    margin: 0 1em 1em 1em;
    border: 1px solid #c0c0c0;
}
.incomeSource a {
    display: none;
    position: absolute;
    margin: -1px 0 0 -1px;
    text-decoration: none;
    font-size: 13px;
    border: 1px solid #c0c0c0;
    padding: 2px 5px 1px 4px;
    font-weight: bold;
}
.incomeSource > div {
    background-color: #f0f0f0;
    padding: 6px 6px 6px 40px;
}
.incomeSource > div:nth-child(3) {
    margin-top: 3px;
    margin-bottom: 3px;
}
.incomeSource label {
    float: left;
    width: 15em;
}
.incomeSource > div > div {
    float: left;
    width: 14em;
}
.incomeSource input, .incomeSource select {
    margin-top: 5px;
}

#controlBox {
    display: block;
    text-align: right;
    margin-top: 0.5em;
}

.results {
    padding: 2em 1.5em 2em 1.5em;
    margin: 2em 2em 0 2em;
}

/* floating the button right causes problems in IE */
.resultsButtonBox {
    text-align: right;
}
.results button {
    margin-top: 1em;
}

#ineligible {
    background-color: #f8f8f8;
    border: 2px solid #a00000;
    color: #202020;
}
#ineligible p {
    margin-bottom: 0.7em;
}

#eligible {
    background-color: #f8f8f8;
    border: 2px solid #00a000;
    color: #404040;
    font-size: 15px;
}

#eligible h2 {
    font-size: 19px;
    font-weight: 600;
    margin: 2em 0 1em 0;
}
#eligible h2:first-child {
    margin-top: 0;
}

#eligible .benefitName{
    font-weight: 600;
}

#PBAs .preBenefitActivityName{
	 font-weight: 600;
}


/* From http://html5boilerplate.com/ */
/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }
